<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <!--    <link rel="stylesheet" href="/css/loader.css"/>-->

    <link rel="icon" href="/images/logo/logo_100x100_transparent.png" type="image/x-icon">
    <title>Forgot password</title>
    <!-- <link rel="stylesheet" href="/css/global.css" /> -->
</head>

<body>

    <div class="background_login"></div>

    <a class="logo" href="/">
        <img src="/images/logo/logo_200x200_transparent.png" width="66" height="66" alt="logo_200x200_transparent">
        <div class="brand-name">HIVEWISE</div>
    </a>

    <a class="btn-signup-page" style="width: 150px;" href="http://localhost:8080/auth/log-in">
        <div class="signup-label">BACK TO LOG IN</div>
    </a>

    <div class="login-container" style="width: 550px;">

        <h1 class="header">Forgot your password</h1>

        <div th:if="${success}">
            <p class="description success-text" th:text="${message}"></p>
        </div>

        <div th:unless="${success}">
            <p class="description" style="margin-left: 60px; margin-right: 60px; margin-bottom: 20px">
                Enter the email you signed up with. We'll send you a link to reset your password
            </p>
            <div th:if="${error}" class="error-message" style="text-align: center; margin-bottom: 12px;">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/auth/forgot-password}" method="POST" th:object="${forgotPasswordRequest}">
                <div class="fields">
                    <div class="field-wrapper" th:classappend="${#fields.hasErrors('email')} ? ' error-border' : ''">
                        <input type="text" placeholder=" " th:field="*{email}" class="input-floating">
                        <label class="label-field floating-label">EMAIL ADDRESS</label>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-text"></div>
                    </div>
                    <button class="btn-login" style="margin-top: 5px" type="submit">
                        SEND LINK
                    </button>
                </div>
            </form>
        </div>
    </div>


    <p class="copy_right">© 2025. - 2026 All Rights Reserved. HiveWise</p>
    <!--</div>-->
</body>
<!--<script src="/js/loader.js"></script>-->

</html>