<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" href="/images/logo/logo_100x100_transparent.png" type="image/x-icon">
    <title>HiveWise</title>
    <link rel="stylesheet" href="/css/landing-page.css" />
    <link rel="stylesheet" href="/css/loader.css" />

</head>

<body>

    <div class="loader" id="loader">
        <ul class="hexagon-container">
            <li class="hexagon hex_1"></li>
            <li class="hexagon hex_2"></li>
            <li class="hexagon hex_3"></li>
            <li class="hexagon hex_4"></li>
            <li class="hexagon hex_5"></li>
            <li class="hexagon hex_6"></li>
            <li class="hexagon hex_7"></li>
        </ul>
    </div>

    <div id="main-content" class="fade-in main-content">
        <!-- -----------------Navbar-------------------  -->
        <div class="navbar-container">
            <div class="navbar">
                <a class="logo-wrapper" href="/">
                    <img class="logo" src="/images/logo/logo_200x200_transparent.png" />
                    <div class="logo-text">HIVEWISE</div>
                </a>
                <div class="navbar-link-list">
                    <a class="navbar-link" href="#">Product</a>
                    <a class="navbar-link" href="#">Features</a>
                    <a class="navbar-link" href="#">About us</a>
                    <a class="navbar-link" href="#">Benefits</a>
                    <a class="navbar-link" href="#">FAQ</a>
                </div>


                <a class="button-login" href="http://localhost:8080/auth/log-in">Log In</a>

            </div>
        </div>

        <!-- -----------------Intro-------------------  -->
        <div class="section-intro">
            <div class="intro-content">
                <div class="intro-description">
                    <h1 class="intro-header">Stronger Teams Through Shared Knowledge</h1>
                    <p class="description-text">
                        HiveWise is a collaborative knowledge management platform designed to help teams and
                        organizations create, manage, and share knowledge efficiently.
                    </p>
                    <div class="btn-intro-container">
                        <button class="btn-get-started">Get Started</button>
                        <button class="btn-learn-more-1">Learn More</button>
                    </div>
                </div>
                <div class="intro-image">
                    <img class="intro-img1" src="https://placehold.co/775x575" />
                    <img class="intro-img2" src="https://placehold.co/380x205/000000/FFF" />
                </div>
            </div>
            <p class="intro-slogan">Designed to adapt across industries</p>
        </div>

        <!-- -----------------Intro-------------------  -->

        <div class="section-main-feature">

            <div class="feature-image-wrap">
                <div class="rectangle-3"></div>
                <div class="main-feature-image">
                    <div class="image-container">
                        <img class="image-3" src="https://placehold.co/465x340" />
                        <img class="image-4" src="https://placehold.co/300x235/000000/FFF" />
                    </div>
                </div>
            </div>

            <div class="main-feature-content">
                <p class="with-innovative">With innovative features <br />and an intuitive interface</p>
                <div class="main-feature-list">
                    <div class="main-feature">
                        <img class="image-2" src="/images/icon/Real-Time-Analytics.png" />
                        <div class="main-feature-text">
                            <div class="main-feature-header">Real-Time Analytics</div>
                            <p class="main-feature-content">
                                Track the effectiveness of your ads in real time and obtain useful information
                                to help you make better decisions.
                            </p>
                        </div>
                    </div>
                    <div class="main-feature">
                        <img class="image-2" src="/images/icon/Complete-Control.png" />
                        <div class="main-feature-text">
                            <div class="main-feature-header">Complete Control</div>
                            <p class="main-feature-content">
                                Easily manage, adjust, and optimize your advertisements on many platforms
                                without switching between apps.
                            </p>
                        </div>
                    </div>
                    <div class="main-feature">
                        <img class="image-2" src="/images/icon/Multi-platform-Integration.png" />
                        <div class="main-feature-text">
                            <div class="main-feature-header">Multi platform Integration</div>
                            <p class="main-feature-content">
                                Multiple ad platforms are supported by HiveWise, allowing you to manage them all
                                from one location.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- --------------------------All feature--------------------------  -->

        <div class="section-all-features">

            <div class="all-feature-header">
                <p class="all-feature-title">All the features you need</p>
                <p class="all-feature-description">
                    HiveWise lets you get the greatest results hassle-free with its sophisticated features
                    making it easy for anyone to create and manage campaigns with ease
                </p>
            </div>
            <div class="all-feature-list">

                <div class="feature">
                    <div class="all-feature-content">
                        <img class="image-6" src="/images/icon/Campaign.png" />
                        <div class="feature-2">
                            <div class="text-wrapper-15">Vault overview</div>
                            <p class="text-wrapper-16">
                                HiveWise evaluates top-rated knowledge entries based on user feedback and
                                ratings, ensuring that high-quality and trusted information is easily accessible.
                                Beyond content metrics, the platform delivers system-wide statistics such as user
                                activity levels, submission versus approval rates, and vault engagement, offering
                                a holistic view of knowledge flow and collaboration within the organization.
                            </p>
                        </div>
                        <button class="btn-learn-more-2">Learn More</button>
                    </div>
                    <div class="image-feature-wrap">
                        <img class="image-5" src="https://placehold.co/465x310" />
                    </div>
                </div>

                <div class="feature">
                    <div class="image-feature-wrap">
                        <img class="image-5" src="https://placehold.co/465x310" />
                    </div>
                    <div class="all-feature-content">
                        <img class="image-6" src="/images/icon/Visitor.png" />
                        <div class="feature-2">
                            <div class="text-wrapper-15">Top contributors</div>
                            <p class="text-wrapper-16">
                                The system tracks and highlights top contributors, recognizing individuals who
                                actively create and
                                share valuable knowledge, thereby encouraging greater participation and
                                engagement. It also
                                identifies the most viewed and frequently accessed content, helping teams
                                understand which
                                knowledge assets are most relevant and useful in real time.
                            </p>
                        </div>
                        <button class="btn-learn-more-2">Learn More</button>
                    </div>
                </div>

                <div class="feature">
                    <div class="all-feature-content">
                        <img class="image-6" src="/images/icon/Data.png" />
                        <div class="feature-2">
                            <div class="text-wrapper-15">Analytical data</div>
                            <p class="text-wrapper-16">
                                These data-driven insights empower administrators and vault owners to monitor
                                performance,
                                identify knowledge gaps, optimize content strategy, and make informed decisions
                                to enhance overall
                                productivity and foster a culture of continuous learning and improvement.
                            </p>
                        </div>
                        <button class="btn-learn-more-2">Learn More</button>
                    </div>
                    <div class="image-feature-wrap">
                        <img class="image-5" src="https://placehold.co/465x310" />
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------All feature--------------------------  -->

        <!-- --------------------------Video--------------------------  -->

        <div class="video-section">
            <div class="video-grid">
                <div class="rectangle-5"></div>
                <div class="rectangle-4"></div>
            </div>
            <div class="video-des-grid">
                <div class="all-feature-content">
                    <div class="feature-2">
                        <div class="text-wrapper-15" style="font-size: 51px;">Easily, quickly, and profitably manage
                            knowledge
                        </div>
                        <p class="text-wrapper-16">
                            These data-driven insights empower administrators and vault owners to monitor
                            performance,
                            identify knowledge gaps, optimize content strategy, and make informed decisions
                            to enhance overall
                            productivity and foster a culture of continuous learning and improvement.
                        </p>
                    </div>
                    <button class="btn-learn-more-2">Learn More</button>
                </div>
            </div>
        </div>
        <!-- --------------------------Video--------------------------  -->
        <div class="line"></div>
        <!-- --------------------------Benefit--------------------------  -->

        <div class="benefits-list">

            <div class="benefit-wrap">
                <div class="benefit-header">Easy to use</div>
                <p class="benefit-content">
                    You don’t need to be an expert to manage ads—EzAds is designed with a simple and intuitive
                    interface.
                </p>
            </div>

            <div class="benefit-wrap">
                <div class="benefit-header">Optimize ROI</div>
                <p class="benefit-content">
                    With accurate analytics data, you can tailor your advertising strategies to maximize return
                    on investment (ROI).
                </p>
            </div>

            <div class="benefit-wrap">
                <div class="benefit-header">Save time &amp; costs</div>
                <p class="benefit-content">
                    Manage your ads faster and more efficiently, without compromising on quality control.
                </p>
            </div>
        </div>


        <!-- --------------------------Benefit--------------------------  -->


        <!-- --------------------------Question--------------------------  -->

        <div class="question-section">
            <div class="question-section-header">Frequently Asked Questions</div>

            <div class="questions-container">

                <div class="question-wrap">
                    <div class="question">
                        <div class="question-content">What is HiveWise?</div>
                        <div class="btn-plus">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                    <p class="answer-question">
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text"> is a powerful, user-friendly Knowledge Management system
                            that
                            helps you easily collaboratively
                            create, manage, and access organizational knowledge in a structured and role-based
                            environment..
                            With </span>
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text">, you can streamline knowledge, analyze performance in
                            real-time, and improve your overall
                            results.</span>
                    </p>
                    <div class="line-2"></div>
                </div>

                <div class="question-wrap">
                    <div class="question">
                        <div class="question-content">What is HiveWise?</div>
                        <div class="btn-plus">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                    <p class="answer-question">
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text"> is a powerful, user-friendly Knowledge Management system
                            that
                            helps you easily collaboratively
                            create, manage, and access organizational knowledge in a structured and role-based
                            environment..
                            With </span>
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text">, you can streamline knowledge, analyze performance in
                            real-time, and improve your overall
                            results.</span>
                    </p>
                    <div class="line-2"></div>
                </div>


                <div class="question-wrap">
                    <div class="question">
                        <div class="question-content">What is HiveWise?</div>
                        <div class="btn-plus">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                    <p class="answer-question">
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text"> is a powerful, user-friendly Knowledge Management system
                            that
                            helps you easily collaboratively
                            create, manage, and access organizational knowledge in a structured and role-based
                            environment..
                            With </span>
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text">, you can streamline knowledge, analyze performance in
                            real-time, and improve your overall
                            results.</span>
                    </p>
                    <div class="line-2"></div>
                </div>

                <div class="question-wrap">
                    <div class="question">
                        <div class="question-content">What is HiveWise?</div>
                        <div class="btn-plus">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                    <p class="answer-question">
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text"> is a powerful, user-friendly Knowledge Management system
                            that
                            helps you easily collaboratively
                            create, manage, and access organizational knowledge in a structured and role-based
                            environment..
                            With </span>
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text">, you can streamline knowledge, analyze performance in
                            real-time, and improve your overall
                            results.</span>
                    </p>
                    <div class="line-2"></div>
                </div>


                <div class="question-wrap">
                    <div class="question">
                        <div class="question-content">What is HiveWise?</div>
                        <div class="btn-plus">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                    <p class="answer-question">
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text"> is a powerful, user-friendly Knowledge Management system
                            that
                            helps you easily collaboratively
                            create, manage, and access organizational knowledge in a structured and role-based
                            environment..
                            With </span>
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text">, you can streamline knowledge, analyze performance in
                            real-time, and improve your overall
                            results.</span>
                    </p>
                    <div class="line-2"></div>
                </div>

                <div class="question-wrap">
                    <div class="question">
                        <div class="question-content">What is HiveWise?</div>
                        <div class="btn-plus">
                            <div class="plus-icon">+</div>
                        </div>
                    </div>
                    <p class="answer-question">
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text"> is a powerful, user-friendly Knowledge Management system
                            that
                            helps you easily collaboratively
                            create, manage, and access organizational knowledge in a structured and role-based
                            environment..
                            With </span>
                        <span class="highlighted">HiveWise</span>
                        <span class="answer-question-text">, you can streamline knowledge, analyze performance in
                            real-time, and improve your overall
                            results.</span>
                    </p>
                </div>
            </div>
        </div>


        <!-- --------------------------Questions--------------------------  -->


        <div class="login-now-section">
            <div class="rectangle-6">
                <div class="login-des-grid">
                    <div class="login-description">
                        <p class="h">Ready to Take Your Konwledge to the Next Level?</p>
                        <p class="description-2">
                            <span class="text-wrapper-27">With </span>
                            <span class="text-wrapper-28">HiveWise</span>
                            <span class="text-wrapper-27">, managing and optimizing your knowledge has never been
                                easier! Start harnessing the power of real-time analytics, automated reporting, and
                                seamless platform right now.
                            </span>
                        </p>
                    </div>
                    <div class="btn-login-now">Login Now</div>
                </div>
                <div class="login-image-wrap">
                    <img class="image-7" src="https://placehold.co/625x390" />
                    <img class="image-8" src="https://placehold.co/250x120/000000/FFFFFF" />
                    <img class="image-9" src="https://placehold.co/170x80/000000/FFFFFF" />
                </div>
            </div>
        </div>
        <!-- --------------------------Questions--------------------------  -->


        <!-- --------------------------footer--------------------------  -->

        <footer class="footer">
            <div class="copy-right-wrap">
                <div class="LOGO-2">
                    <img class="logo" src="/images/logo/logo_100x100_transparent.png" />
                    <div class="footer-brand-name">HIVEWISE</div>
                </div>
                <p class="copyright">
                    <span class="text-wrapper-27">Copyright 2025, </span>
                    <span class="text-wrapper-28">HIVEWISE</span>
                    <span class="text-wrapper-27">. All Rights Reserved.</span>
                </p>
            </div>

            <div class="footer-content">

                <div class="utility-wrap">
                    <div class="footer-link-header">Utility</div>
                    <div class="utility-link-container">
                        <a class="utility-link" href="#">abc</a>
                        <a class="utility-link" href="#">abc</a>
                        <a class="utility-link" href="#">abc</a>
                    </div>
                </div>

                <div class="contact-wrap">
                    <div class="footer-link-header">Contacts</div>
                    <div class="contact-container">
                        <div class="phone-contact">+123456789</div>
                        <div class="email-contact">hivewise.kms@gmail.com</div>
                    </div>
                </div>

                <div class="office-wrap">
                    <div class="footer-link-header">Office</div>
                    <div class="office-address">
                        Education And Training Section, Hoa Lac Hi Tech Zone, Km 29 Ha Noi City
                    </div>
                </div>
            </div>

        </footer>
        <!-- --------------------------footer--------------------------  -->
    </div>
</body>
<script src="/js/landing-page.js"></script>
<script src="/js/loader.js"></script>

</html>