<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" href="/images/logo/logo_100x100_transparent.png" type="image/x-icon">
    <title>Reset password</title>
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <!--    <link rel="stylesheet" href="/css/loader.css"/>-->
    <!-- <link rel="stylesheet" href="/css/global.css" /> -->
</head>

<body>
    <div class="background_login"></div>

    <a class="logo" href="/">
        <img src="/images/logo/logo_200x200_transparent.png" width="66" height="66" alt="logo_200x200_transparent">
        <div class="brand-name">HIVEWISE</div>
    </a>

    <a class="btn-signup-page" style="width: 150px;" href="http://localhost:8080/auth/log-in">
        <div class="signup-label">BACK TO LOG IN</div>
    </a>

    <div class="login-container" style="width: 550px;">

        <h1 class="header">Reset password</h1>
        <p th:if="${noti == null}" class="description" style="margin-left: 30px; margin-right: 30px;">Enter new password
            for
            name@gmail.com</p>

        <div th:if="${error}" class="error-message" style="text-align: center; margin-bottom: 12px;">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${noti}" class="success-message" style="text-align: center; margin-bottom: 12px; color: green;">
            <p th:text="${noti}"></p>
        </div>
        <form th:if="${noti == null}" th:action="@{/auth/reset-password}" method="POST"
            th:object="${resetPasswordRequest}">
            <div class="fields">

                <input type="hidden" name="token" th:value="${token}" />

                <div class="field-wrapper" th:classappend="${#fields.hasErrors('password')} ? ' error-border' : ''">
                    <input type="password" placeholder=" " th:field="*{password}" class="input-floating">
                    <label class="label-field floating-label">PASSWORD</label>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-text"></div>

                </div>
                <div class="field-wrapper"
                    th:classappend="${#fields.hasErrors('confirmPassword')} ? ' error-border' : ''">
                    <input type="password" placeholder=" " th:field="*{confirmPassword}" class="input-floating">
                    <label class="label-field floating-label">CONFIRM PASSWORD</label>
                    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                        class="error-text"></div>
                </div>
            </div>
            <button class="btn-login" type="submit" style="margin-top: 25px">
                SAVE PASSWORD
            </button>
        </form>


    </div>

    <p class="copy_right">© 2025. - 2026 All Rights Reserved. HiveWise</p>
    <!--</div>-->
</body>
<script src="/js/loader.js"></script>

</html>